[Unit]
Description=gunicorn daemon
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/inlinescriptchatapp/chatroom
ExecStart=/home/ubuntu/inlinescriptchatapp/venv/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/inlinescriptchatapp/chatroom/chatapp.sock chatapp.wsgi:application
[Install]
WantedBy=multi-user.target
